<!DOCTYPE html>
<html>
<head>
  <title>Walmart Entertainment</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
    <h1 style="color:blue"><b>My Favorite Walmart Photos</b></h1>
    <h2 style="text-align:center; color:red"><b>Show off Your White Trash Pride</b></h2>
  </div>


<div class="container">
  <%= yield %>
</div>

</body>
</html>
